
:root {
  --color-principal: hsl(176, 50%, 47%);
  --color-secundario: hsl(176, 72%, 28%);
  --black: #000;
  --white: #FFF;
  --gris-oscuro: hsl(0, 0%, 48%);
  --gris-claro: hsl(0, 0%, 89%);


  /*-- font size --*/
  --font-family: 'Commissioner', sans-serif;
  --font-size: 16px;
  --ligth: 500;
  --light-plus: 600;
  --bold: 700;
}

body {
  font-family: var(--font-family);
}

html.html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  --webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.header {
  height: 500px;
  background-image: url(/images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px
}


/* main */

.main {
  background-color: #f4f4f4;
  padding: 60px 0px 10px 0px;
  padding: 60px 0px;
}

.main_card {
  width: 90%;
  background-color: white;
  margin: 0 auto;
  margin-top: -100px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  height: 100%;
}

.main_card--image {
  margin-top: -150px;
  margin-bottom: 20px;
  text-align: center;
}

.main_card--title {
  text-align: center;
  font-size: calc(var(--font-size) + 6px);
  margin-bottom: 15px;
}

.main_card--pgraph {
  margin-bottom: 30px;
  color: var(--gris-oscuro);
  padding: 0 10px;
}

.main-call-to-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-call-to-actions__button {
  width: 100%;
  margin-right: 10px;
  border-radius: 50px;
  border: none;
  background-color: var(--color-principal);
  color: white;
  font-weight: bold;
}

/* main card 2 */ 

.main_card2 {
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  width: 90%;
  border-radius: 10px;
  text-align: center;
}

.main_card1__empty_line {
  height: 1px;
  width: 30%;
  margin: 0 auto;
  background-color: var(--gris-oscuro);
  margin-bottom: 30px;
}

.main_card2__pgraph1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main_card2__pgraph2 {
  font-size: calc(var(--font-size) - 1px);
  color: var(--gris-oscuro);
  padding-bottom: 20px;
  font-weight: 500;
}


/* main--card 3 --*/ 

.main_card3 {
  margin-top: 20px;
  text-align: left;
}

.main_cards__title {
  margin-bottom: 20px;
}

.main_cards__pgraph1, 
.main_cards__pgraph2 {
  font-size: calc(var(--font-size) - 3px);
  color: var(--gris-oscuro);
  line-height: 25px;
  margin-bottom: 30px;
  font-weight:400;
}

.main-cards--card1 {
  height: 380px;
  border: 1px solid var(--gris-claro);
  padding: 30px 25px;
  padding-bottom: 50px;
  border-radius: 7px;
}

.card1__title {
  margin-bottom: 10px;
}

.card1__pgraph {
  color: var(--color-principal);
  font-weight: 500;
  margin-bottom: 30px;
  font-size: calc(var(--font-size) - 2px);
}

.card1__pgraph2 {
  font-size: calc(var(--font-size) - 3px);
  color: var(--gris-oscuro);
  padding-right: 15px;
  line-height: 25px;
  margin-bottom: 30px;
}

.card1__pgraph-span {
  font-size: calc(var(--font-size) + 15px);
  font-weight: bold;
  margin-right: 10px;
}

.card1__pgraph3 {
  margin-bottom: 20px;
}

.card1__button {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  color: var(--white);
  background-color: var(--color-principal);
  font-weight: 600;
}

.main-cards--card2,
.main-cards--card3 {
  margin-top: 30px;
}


.card3__span {
  color: var(--gris-oscuro);
}

.card3__button {
  background: var(--gris-oscuro);
}



.


